<footer id="footer" class="feature">
    <div class="row">
        <div class="large-12 columns">
            <p><small>
                            <a href=".">Network Of Women</a> sponsored by
                            <a rel="nofollow" target="_blank" href="//thoughtworks.com">ThoughtWorks</a>
            </small></p>
        </div>
    </div>
</footer>
