<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <br>
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-5 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>ThoughtWorks Technologies (India) Pvt. Ltd.</span>
                <span>ACR Mansion G + 3floors 147/F,
                </span>
                <span>8th Main,3<sup>rd</sup>Block Koramangala
                </span>
                <span>Bangalore-560034
                </span>
                <span>
                    <small>
                        <a
                            class="link"
                            href="https://www.google.co.id/maps/dir//ThoughtWorks,+ACR+Mansion,+147%2FF,+8th+Main,+3rd+Block+Koramangala,+Koramangala+3+Block,+Koramangala,+Bengaluru,+Karnataka+560034,+India/@12.928731,77.6267284,17z/data=!4m13!1m4!3m3!1s0x3bae145e7228354d:0x116853ce31352ab1!2sThoughtWorks!3b1!4m7!1m0!1m5!1m1!1s0x3bae145e7228354d:0x116853ce31352ab1!2m2!1d77.6289171!2d12.9287258?hl=en"
                            target="_blank"
                            rel="nofollow">&laquo; Open in Google Maps &raquo;</a>
                    </small>
                </span>
            </p>
        </div>

        <div class="large-7 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <a
                href="https://www.google.co.id/maps/dir//ThoughtWorks,+ACR+Mansion,+147%2FF,+8th+Main,+3rd+Block+Koramangala,+Koramangala+3+Block,+Koramangala,+Bengaluru,+Karnataka+560034,+India/@12.928731,77.6267284,17z/data=!4m13!1m4!3m3!1s0x3bae145e7228354d:0x116853ce31352ab1!2sThoughtWorks!3b1!4m7!1m0!1m5!1m1!1s0x3bae145e7228354d:0x116853ce31352ab1!2m2!1d77.6289171!2d12.9287258?hl=en"
                target="_blank"
                rel="nofollow">
                <img src="./img/map.png" alt="Map" align="center"/>
            </a>
        </div>
    </div>
</section>
